*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*::-webkit-scrollbar{
    display:none
}

:root{
    --main: #5AACC6;
    --submain: #041538;
    --1: #3C73A9 ;
    --gray: #5c5d70;
    --blues: #2A5178;
}

@font-face {
    font-family: Rubik;
    src: url(fonts/Rubik/static/Rubik-Regular.ttf);
}

@font-face {
    font-family: RubikBold;
    src: url(fonts/Rubik/static/Rubik-Bold.ttf);
}

@font-face {
    font-family: RubikSemi;
    src: url(fonts/Rubik/static/Rubik-SemiBold.ttf);
}

@font-face {
    font-family: RubikLight;
    src: url(fonts/Rubik/static/Rubik-Light.ttf);
}

.container {
	max-height: 100vh;
    width: 100%;
	overflow-y: scroll;
	scroll-snap-type: proximity;
	scroll-snap-type: y proximity;
    scroll-snap-points-y: repeat(1rem);
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    background-color: var(--main);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8.6em ;
    font-family: RubikSemi;
    color: var(--submain)
}

.Logo{
    display: flex;
    margin-left: 4.6em;
    height: 6em;
    align-items: center;
}

.Logo img{
    width: 6em;
}

.Logo h1{
    font-size: 28px;
}


.BT{
    margin-right: 4.6em;
}

nav button{
    width: 10.5em;
    height: 3.125em;
    border-radius: 19px;
    margin-right: 1em;
    font-size: 16px;
    text-align: center;
    border: #000;
    background-color: var(--blues);
    color: white;
    font-family: Rubik;
}

nav button:hover{
    background-color: var(--submain);
    transition: 0.5s;
}

#hd{
    width: 100%;
    height: 522px;
    display: flex;
    font-family: Rubik;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/InitialImage.jpg);
    background-repeat: no-repeat;
}
#hd div{
    margin-left: 4.8em;
}

#hd div h1{
    font-family: RubikSemi;
    margin-bottom: 0.5em ;
    font-size: 36px;
}

#hd div p{
    font-family: Rubik;
    font-size: 20px;
    width: 55%;
    margin-bottom: 1.6em;
}

#hd div button{
    width: 12.5em;
    height: 3.125em;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    border: #000;
    background-color: var(--blues);
    color: white;
    font-family: Rubik;
}

#hd div button:hover{
    background-color: var(--submain);
    transition: 0.5s;
}

#s1{
    width: 100%;
    margin-top: 2.6em;
    display: grid;
    grid-template-rows: 3.9em 1fr;
    grid-template-columns: 1fr 1fr;
    scroll-snap-align: center;
}

#s1 h1{
    grid-column: 1/3;
    font-size: 28px;
    grid-row: 1;
    display: flex;
    justify-content: center;
    font-family: RubikBold;
}

#s1 div{
    display: flex;
    align-self: center;
    justify-content:end;
    grid-row: 2;
    grid-column: 1;
    margin-right: 2em;
}

.rimg{
    height: 34em;
    grid-row: 2;
    grid-column: 1;
    margin-left: 25%;
}



#s1 p{
    font-family: Rubik;
    align-self: center ;
    font-size: 22px;
    margin-left: 2em;
    width: 65%;
    grid-column: 2;
    grid-row: 2;
}

#s2{
    width: 100%;
    display: grid;
    margin-bottom: 7.5em;
    margin-top: 2.6em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4.6em 1fr;
}

#s2 h1{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: RubikSemi;
    grid-column: 1/5;
    grid-row: 1;
}

#s2 h3{
    font-family: RubikLight;
    font-size: 24px;
    margin-top: 1em;
}

.Conocer{
    grid-column: 1;
    grid-row: 2;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Conocer:hover{
    transform: scale(1.05);
    transition: 200ms;
}

.Meditar{
    grid-column: 2;
    grid-row: 2;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Meditar:hover{
    transform: scale(1.05);
    transition: 200ms;
}

.Ejercitar{
    grid-column: 3;
    grid-row: 2;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Ejercitar:hover{
    transform: scale(1.05);
    transition: 200ms;
}

.Pensar{
    grid-column: 4;
    grid-row: 2;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Pensar:hover{
    transform: scale(1.05);
    transition: 200ms;
}

#s3{
    width: 100%;
    background-color: var(--1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11.2em;
    flex-direction: column;
    scroll-snap-align: end;
}

.quote{
    font-size: 24px;
    width: 65%;
    font-family: Rubik;
}

.ralign{
    text-align: right;
    font-family: Rubik;
    font-size: 24px;
    justify-content: end;
    align-self: end;
    margin-right: 12em;
}

#s4{
    width: 100%;
    margin-top: 3.2em;
    margin-bottom: 7.5em;
    display: grid;
    grid-template-columns: 15.6em 12em 18em 1fr;
    grid-template-rows: 7em 11em 11em 11em;
    scroll-snap-align: start;
    font-family: Rubik;
}

#s4 h1{
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: RubikBold;
    font-size: 28;
    grid-column: 1/6;
    grid-row: 1;
}

#s4 p{
    align-self: center;
    grid-column: 4;
    grid-row: 2/5;
    width: 80%;
    font-size: 24px;
}

.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 ;
    grid-row: 2/5;
}

#s4 h5{
    font-size: 24px;
    justify-content: center;
    align-self: center;
}

.con{
    grid-row: 2;
    grid-column: 3;
}

.tras{
    grid-row: 3;
    grid-column: 3;
}

.crec{
    grid-row: 4;
    grid-column: 3;
}

#s5{
    width: 100%;
    display: grid;
    grid-template-rows: 5em 24em 24em 24em;
    grid-template-columns: 1fr 1fr;
    scroll-snap-align: start;
    font-family: Rubik;
    margin-bottom: 10em;

}

#s5 h1{
    grid-column: 1/3;
    grid-row:1;
    display: flex;
    justify-content: center;
    font-family: RubikBold;

}

#s5 h2{
    font-family: RubikSemi;
    font-size: 24px;
}

#s5 img{
    width: 30em;
    margin-top: 5%;
}

.Leyendo{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 3em;
}

.Meditando{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-right: 1em;
}

.Pintando{
    grid-column: 2;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 3em;
}

.pleye{
    font-size: 20px;
    width: 70%;
}

.pmedi{
    text-align: right;
    font-size: 20px;
    width: 75%;
}

.ppaint{
    font-size: 20px;
    width: 75%;
}

div .imgl{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 1em;
}

.img1{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1em;
}

.imgm{
    margin-left: 3em;
}

.imgp{
    margin-left: 12.8em;
}

#s6{
    width: 100%;
    font-family: Rubik;
    background-color: var(--1);
    color:white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 9em;
    scroll-snap-align: start;
}

#s6 p{
    width: 100%;
}

#s6 div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ralign2{
    text-align: right;
    font-family: Rubik;
    font-size: 24px;
    justify-content: end;
    align-self: end;
    margin-right: 10.5em;
}

#s7{
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67vh;
    background-image: url(images/LastImage.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 75%;
    color: #E1E2E6;
    font-family: RubikSemi;
    font-size: 32px;
}

footer{
    width: 100%;
    background-color: var(--blues);
    color: white;
    font-family: RubikBold;
    font-size: 24px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.d1,.d2,.d3,.d4,.d5{
    display: flex;
    align-items: center ;
    margin-left: 5.3em;
}

footer h4{
    grid-row: 2;
    grid-column: 1;
}

.h4{
    margin-top: 0.7em;
    margin-left: 5.3em;
}

.d1{
    grid-row: 3;
    grid-column: 1;
}

.d2{
    grid-row: 4;
    grid-column: 1;
}

.d3{
    grid-row: 2;
    grid-column: 2;
}

.d4{
    grid-row: 3;
    grid-column: 2;
}

.d5{
    grid-row: 4;
    grid-column: 2;
}

@media only screen and (min-width: 1441px) {
#hd{
    background-image: url(images/CompleteInitialImage.jpg);
    background-position: 6% 41% ;
    background-size: 160%;
    width: 100%;
}

#s4{
    width: 100%;
    grid-template-columns: 27.9em 13em 20em 1fr;;
    grid-template-rows: 7em 11em 11em 11em;
}

#s4 p{
    width: 54%;
}

#s6 div{
    margin-left: 53%;
    width: 100%;
}

.ralign2{
    margin-right: 28%;
}

.ralign{
    margin-right: 19em;
}

#s5{
    grid-template-rows: 5em 24em 24em 24em;
    grid-template-columns: 1fr 1.02fr;
}

.img1{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1em;
}

.imgm{
    display: flex;
    justify-content: start;
    align-items: center; 
}

.imgp{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1em;
}

.pleye{
    width: 52% ;
}
.pmedi{
    width: 52% ;
}
.ppaint{
    width: 54% ;
}
}

.phoneimg{
    visibility: hidden ;
}



@media only screen and (max-width: 1024px) {
#hd{
    background-position: 60% 0%;
}

#s1{
    scroll-snap-align: none;
}

.rimg{
    height: 28em;
}

#s1 p{
    font-size: 18px;
}

#s3{
    scroll-snap-align: none;
}
.ralign{
    margin-right: 8em;
}

#s4{
    grid-template-columns:5.6em 12em 18em 1fr ;
    grid-template-rows:7em 11em 11em 11em ;
    scroll-snap-align: none;
}

#s4 p{
    font-size: 20px;
}

#s5{
    scroll-snap-align: none;
    grid-template-rows: 5em 24em 22em 19em ;
}

#s5 img{
    width: 24em;
}

.imgp{
    margin-left: 8em;
}

.Leyendo{
    margin-top: 2em;
}

.Meditando{
    margin-bottom: 3em;
}

.Pintando{
    margin-bottom: 0.5em ;
}

#s6{
    scroll-snap-align: none;
}

#s6 div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ralign2{
    margin-right: 3.5em;
}

footer{
    font-size: 18px;
}
}

@media only screen and (max-width: 1016px){
    body{
        background-color: yellow;
    }
    nav h1{
        display: none;
    }
     
    .phoneimg{
visibility: hidden;
    }
}

@media only screen and (max-width: 900px){

nav{
    width: 100%;
    height: 6.5em;
}

nav button{
    height: 3em;
    width: 9.8em;
}

.Logo{
    margin-left: 2em;
}

.Logo img{
    width: 4em;
}

.Logo h1{
    font-size: 24px;
}

.BT{
    margin-right: 1em;
}

#hd{
    justify-content: center;
    align-items: center;
}

#hd div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

#hd div p{
    text-align: center;
}

.rimg{
    height: 25em;
}

#s1 p{
    font-size:16px;
}

#s2 img{
    width: 9em;
}

#s2 h3{
    font-size: 20px ;
}

.quote{
    font-size: 20px ;
}

.ralign{
    font-size: 20px;
}

#s2{
    margin-bottom: 4em ;
}

#s4{
    grid-template-columns: 5.6em 12em 15em 1fr;
}

#s4 p{
    font-size: 18px;
}

#s5 img{
    width: 20em;
}

#s5 h2{
    font-size: 20px;
}
#s5 p{
    font-size: 16px;
}
#s5{
    grid-template-rows: 5em 20em 18em 15em;
}
#s6{
    font-size: 20px;
    margin-top: -3em;
}
.ralign2{
    font-size: 20px;
    margin-right: 4.7em;
}
}

@media only screen and (max-width: 768px){
.phoneimg{
    visibility: hidden ;
}
nav h1{
    display: none;
}
#hd div h1{
font-size: 32px;
}

.rimg{
    width: 19em;
    height: 23em;
}

#s1 p{
    width: 70%;
}

#s4 {
    grid-template-columns: 1.6em 11em 13em 1fr;
}

#s4 p{
    font-size: 18px;
}

#s5 img{
    width: 18em;
}

.imgp{
    margin-left: 4.2em;
}

#s6{
    font-size: 16px;
}

#s7{
margin-top: 0em;
margin-bottom: 0em;
height: 50vh;
}

footer{
    font-size: 16px;
    align-items: left;
}


}


@media only screen and (max-width: 430px){
    .phoneimg{
  visibility: visible;
    }
    nav{
        height: 10em;
        flex-direction: column;       
    }

    #s1{
        grid-template-rows: 3.9em 18em;
        grid-template-columns: 1fr;
    }

    #s1 p{
        grid-row: 3;
        grid-column: 1;
    }

    .rimg{
        height: 15em;
        width: 13em;
    }
    #s1 p{
        text-align: center;
        margin-left: 15%;
    }

    nav button{
        height: 3em;
        width: 7em;
    }
    
    .BT{
        margin-right: 0px;
        margin-left: 8px;
        margin-bottom: 1em;
    }

    .Logo{
        margin-left: 0px;
    }

    #hd div h1{
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    #hd div p {
        font-family: Rubik;
        font-size: 20px;
        width: 100%;
        margin-bottom: 1.6em;
    }

    #s2{
        grid-template-columns: 13.4em 13.4em;
        grid-template-rows: 4.6em 13em 13em  ;
    }

    .Conocer{
        grid-column: 1;
        grid-row: 2;
    }

    .Meditar{
        grid-column: 2;
        grid-row: 2 ;
    }

    .Ejercitar{
        grid-column: 1;
        grid-row: 3 ;
    }

    .Pensar{
        grid-column: 2;
        grid-row: 3 ;
    }

    .quote {
        font-size: 16px;
    }
    .ralign {
        font-size: 16px;
        margin-right: 5em;
    }
    .imgs{
        display: none;
    }
    .phoneimg{
        grid-column: 1/4;
        grid-row: 2;
        width: 100%;
    }
    .phoneimg img{
        height: 6.6em;
    }
    #s4{
         grid-template-columns: 5.6em 5em 17em;
    }
    .con{
    grid-column: 1 ;
    grid-row:2 ;
    }

    #s4 p{
        grid-column: 1/4;
        grid-row: 4 ;
    }
}
